# Git
.git
.gitignore

# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
publish/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio files
.vs/
*.DotSettings*

# Temporary files
*.swp
*.*~
*.tmp

# Keep only necessary files
!QuantumApp/
!QuantumApp.sln
!Dockerfile